# CCS build artifacts
**/Debug/
**/Release/
**/*.out
**/*.map
**/*.obj
**/*.d
**/*.opt
**/*.mk
**/*_linkInfo.xml

# Temp & IDE
**/.settings/
**/.metadata/
**/.ccsproject
**/.cproject
**/.project
RemoteSystemsTempFiles/
dvt/
**/AnalysisSolutionsTemp/

# OS files
.DS_Store
Thumbs.db

# Binaries
TExaSdisplay.exe
